* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/*base styles*/
body {
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	font-size: 1.75em;	
	text-align: center;
	margin-top: 30px;
	color: #2B5417;
}
.container-fluid {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.row {
	padding: 10px;
	width: 100%;

}
.row>div {
	padding: 10px;
	float: left;
}
.row section {
	background-color: #E4E4E2;
	border: 1px solid black;
	padding: 50px 10px 10px 10px;		
	float: left;
	position: relative;
}
.row h3 {
	font-size: 1.25em;
	color:#DFF1DB;
	position: absolute;
	top:0px;
	right: 0px;
	margin: 0;
	padding: 8px 40px;
	border:1px solid black ;
}
#one {
	background-color: #508237;
}
#two {
	background-color: #86A230;
}
#three {
	background-color: #E2CE30;
}


/*media styles*/
@media (min-width: 992px) {
	.col-lg-4 {
	width: 33.33%;	
	float: left;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.col-md-6 {
	width: 50%;
	}
}
